<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestão de aeronave</title>
  </head>
  <body>
    <h1 class="text-center mt-4">Relatório da Base</h1>
    <i
      class="fas fa-plane-departure fa-10x mt-3 text-primary"
      style="margin-left: 44%"
    ></i>

    <form class="form-inline mt-3">
      <div class="form-group mx-sm-3">
        <input
          type="text"
          class="form-control"
          id="nome"
          name="nome"
          [(ngModel)]="nome"
          placeholder="Pesquisa por Modelo"
        />
      </div>
      <button type="button" (click)="consultaModelo()" class="btn btn-primary">
        Buscar
      </button>

      <button
        type="button"
        [routerLink]="['/aeronave']"
        class="btn btn-success mt-5 col-2 mb-5 ml-2"
      >
        Nova Aeronave
      </button>
    </form>
    <table class="table table-striped text-center">
      <thead class="thead-dark">
        <th scope="col">ID</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Ano</th>
        <th scope="col">Vendido</th>
        <th scope="col">Ações</th>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let aeronave of aeronaves| paginate : { itemsPerPage: 5, currentPage: p, totalItems: total }; let i = index
          "
        >
          <td>{{ aeronave.id }}</td>
          <td>{{ aeronave.marca }}</td>
          <td>{{ aeronave.nome }}</td>
          <td>{{ aeronave.ano }}</td>

          <td *ngIf="aeronave.vendido">
            <i class="fas fa-check text-success fa-2x"></i>
          </td>
          <td *ngIf="!aeronave.vendido ">
            <i class="fas fa-times text-danger fa-2x"></i>
          </td>

          <td>
            <button
              [routerLink]="['/aeronave', aeronave.id]"
              class="btn btn-success"
            >
              Editar
            </button>
            <button
              (click)="deleteAeronave(aeronave.id, i)"
              class="ml-3 btn btn-primary"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="text-center">

     <pagination-controls
        (pageChange)="carregarPagina(p = $event);"
        (pageBoundsCorrection)="consultarComPaginaValida($event)"
        previousLabel="Voltar"
        nextLabel="Avançar"
        [responsive]="true"
      >
      </pagination-controls>


    </div>

    <div class="form-row mt-5">
      <div class="form-group col-md-3">
        <h5 class="ml-5"><Strong>Relatório por Década</Strong></h5>
        <ul class="lista">
          <li *ngFor="let grupDecadas of grupoDecadas" class="ml-2">
            <strong>{{ grupDecadas.grupo }}:</strong>
            {{ grupDecadas.total }} aeronave
          </li>
        </ul>
      </div>

      <div class="form-group col-md-3">
        <p class="fonte_tam">
          Aeronaves disponíveis: <Strong>{{ relNaoVendida }}</Strong>
        </p>
      </div>

      <div class="form-group col-md-3">
        <p class="fonte_tam">
          Registro semanal: <strong>{{ regSemanal }}</strong>
        </p>
      </div>

      <div class="form-group col-md-3">
        <h5 class="ml-5"><Strong>Marcas</Strong></h5>
        <ul class="lista">
          <li class="ml-2" *ngFor="let grupoMarcas of grupoMarcas">
            {{ grupoMarcas.grupo }}: {{ grupoMarcas.total }}
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
