<h1 class="text-center mt-5">{{ idEdicao ? 'Edição' : 'Cadastro' }} de Aeronaves</h1>

<form [formGroup]="formulario" (ngSubmit)="salvarAeronave()">
  <div class="form-row mt-5">

    <div class="form-group col-md-6 offset-md-3">
      <label for="marca">Marca</label>
      <select formControlName="marca" id="tx-marca" name="marca" class="form-control" required="true">
        <option selected [ngValue]="null"> [--Selecione--]</option>
        <option [ngValue]="marca" *ngFor="let marca of listaMarcas">{{marca}}</option>
      </select>
      <app-mensagem-validacao formControlName="marca"></app-mensagem-validacao>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6 offset-md-3">
      <label for="nome">Modelo</label>
      <input type="text" maxlength="30" formControlName="nome" name="Nome" id="tx-nome" class="form-control" required
        autocomplete="false" />
      <app-mensagem-validacao formControlName="nome"></app-mensagem-validacao>
      <app-mensagem-validacao formControlName="nome" type="maxLength" errorMessage="Nome deve ter no máximo 30 digitos."></app-mensagem-validacao>

    </div>

  </div>

  <div class="form-row">

    <div class="form-group col-md-3 offset-md-3">
      <label for="ano">Ano</label>
      <input type="number" formControlName="ano" id="tx-ano" name=ano class="form-control" required
        autocomplete="false" />
      <app-mensagem-validacao formControlName="ano"></app-mensagem-validacao>
      <app-mensagem-validacao formControlName="ano"
        errorMessage="Campo ano está inválido digite um valor entre o intervalo de 1920 a 2022" type="min">
      </app-mensagem-validacao>
      <app-mensagem-validacao formControlName="ano"
        errorMessage="Campo ano está inválido digite um valor entre o intervalo de 1920 a 2022" type="max">
      </app-mensagem-validacao>

    </div>

    <div class="form-group col-md-3 offset-md-0">
      <label for="vendido">Vendido</label>
      <select id="tx-vendido" name="vendido" formControlName="vendido" class="form-control" required="true">
        <option selected [ngValue]="null"> [--Selecione--]</option>
        <option [ngValue]="true">Vendido</option>
        <option [ngValue]="false">Não Vendido</option>
      </select>
      <app-mensagem-validacao formControlName="vendido"></app-mensagem-validacao>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6 offset-md-3">
      <label for="floatingTextarea">Descrição</label>
      <textarea #textArea maxlength="255" class="form-control" formControlName="descricao" name="descricao" placeholder="Descrição da aronave"
        id="tx-descricao"></textarea>
        <small>{{ TAMANHO_LIMITE_DESCRICAO - textArea.value.length }} dígitos restantes.</small>
        <app-mensagem-validacao formControlName="descricao" type="maxLength" errorMessage="Descrição deve ter no máximo 255 digitos."></app-mensagem-validacao>

    </div>
  </div>

  <div class="form-row ">
    <div class="form-group col-md-4 offset-md-3">

      <button type="submit" class="btn btn-success">
        Salvar
      </button>
      <!-- [disabled]="formulario.invalid" -->
      <button type="button" (click)="novo()" class="btn btn-primary ml-2">
        Novo
      </button>

      <button type="button" class="btn btn-secondary  ml-2" [routerLink]="['']">
        Voltar
      </button>
    </div>
  </div>
</form>
